In [76]:
import pandas as pd
import os

In [77]:
import glob
import pandas as pd
  
# specifying the path to csv files
path = os.getcwd()
  
# csv files in the path
files = glob.glob(path + "/*.csv")
  
# defining an empty list to store 
# content
data_frame = pd.DataFrame()
content = []
  
# checking all the csv files in the 
# specified path
for filename in files:
    
    # reading content of csv file
    # content.append(filename)
    df = pd.read_csv(filename, index_col=None)
    content.append(df)
  
# converting content to data frame
data_frame = pd.concat(content,sort=False)
print(data_frame)

     Unnamed: 0  Priority                                            Summary  \
0           0.0         1                            endpoint mapping  saxon
1           1.0         1               thread safe problem  wsdl generation
2           2.0         0           saajutils wrong way  detect saaj version
3           3.0         2                                                 in
4           4.0         1    loading default key store overwrites truststore
..          ...       ...                                                ...
995         NaN     Minor  Add org and space names to server display ID f...
996         NaN     Major  GradleSaveParticipant throws NPE in crash reco...
997         NaN  Critical      Support service plans for v2 cloud controller
998         NaN     Major  GrailsApplication.isWarDeployed() returns fals...
999         NaN     Minor  Roo project wizard: Empty new project has buil...

     time Issue key  Issue id Issue Type    Status Project key  \
0     1.0       NaN       NaN        NaN       NaN         NaN
1     1.0       NaN       NaN        NaN       NaN         NaN
2     1.0       NaN       NaN        NaN       NaN         NaN
3     0.0       NaN       NaN        NaN       NaN         NaN
4     0.0       NaN       NaN        NaN       NaN         NaN
..    ...       ...       ...        ...       ...         ...
995   NaN  STS-2922   74923.0        Bug  Resolved         STS
996   NaN  STS-2921   76423.0        Bug  Resolved         STS
997   NaN  STS-2919   75784.0        Bug  Resolved         STS
998   NaN  STS-2917   76242.0        Bug  Resolved         STS
999   NaN  STS-2915   75708.0        Bug    Closed         STS

          Project name  ... Comment.40 Comment.41 Comment.42 Comment.43  \
0                  NaN  ...        NaN        NaN        NaN        NaN
1                  NaN  ...        NaN        NaN        NaN        NaN
2                  NaN  ...        NaN        NaN        NaN        NaN
3                  NaN  ...        NaN        NaN        NaN        NaN
4                  NaN  ...        NaN        NaN        NaN        NaN
..                 ...  ...        ...        ...        ...        ...
995  Spring Tool Suite  ...        NaN        NaN        NaN        NaN
996  Spring Tool Suite  ...        NaN        NaN        NaN        NaN
997  Spring Tool Suite  ...        NaN        NaN        NaN        NaN
998  Spring Tool Suite  ...        NaN        NaN        NaN        NaN
999  Spring Tool Suite  ...        NaN        NaN        NaN        NaN

    Comment.44 Comment.45 Comment.46 Comment.47 Comment.48 Comment.49
0          NaN        NaN        NaN        NaN        NaN        NaN
1          NaN        NaN        NaN        NaN        NaN        NaN
2          NaN        NaN        NaN        NaN        NaN        NaN
3          NaN        NaN        NaN        NaN        NaN        NaN
4          NaN        NaN        NaN        NaN        NaN        NaN
..         ...        ...        ...        ...        ...        ...
995        NaN        NaN        NaN        NaN        NaN        NaN
996        NaN        NaN        NaN        NaN        NaN        NaN
997        NaN        NaN        NaN        NaN        NaN        NaN
998        NaN        NaN        NaN        NaN        NaN        NaN
999        NaN        NaN        NaN        NaN        NaN        NaN

[24990 rows x 152 columns]

In [78]:
#data_path = r"C:\Users\sm185567\Downloads\bug files\springfulldataset.csv"
#data_raw = pd.read_csv(data_path,encoding = 'ISO-8859-15')

In [79]:
#data_raw['Summary'] = data_raw['text'].rename('Summary')

In [80]:
df = data_frame[['Summary','Priority','Created','Resolved']]

In [81]:
df_hi = df[~df['Resolved'].isnull()]

In [82]:
df_hi['Priority'].value_counts()

Major       1122
Minor       1071
Critical     246
Blocker      129
Trivial       64
Name: Priority, dtype: int64

In [83]:
df_hi.reset_index(inplace=True)

In [84]:
df_hi['time'] = pd.to_datetime(df_hi['Resolved'])-pd.to_datetime(df_hi['Created'])

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [85]:
df_hi = df_hi.drop(['index'],axis=1)

In [86]:
df_hi.reset_index(inplace=False)

,index,Summary,Priority,Created,Resolved,time
0,0,Unable to register the JMX bean MessageHistory...,Minor,24/Feb/16 10:51 AM,23/Dec/16 2:49 PM,303 days 03:58:00
1,1,Update to Spring Integration 4.2.5 When Availa...,Minor,17/Feb/16 2:28 PM,21/Feb/16 2:28 AM,3 days 12:00:00
2,2,[Flo] Stream creation/definitions doesn't show...,Major,13/Feb/16 7:04 PM,21/Feb/16 2:28 AM,7 days 07:24:00
3,3,Kafka message bus maxWait property is not set up,Minor,11/Feb/16 5:45 PM,21/Feb/16 2:28 AM,9 days 08:43:00
4,4,Incorrect refresh period for groovy scripts,Major,05/Feb/16 4:01 PM,12/Feb/16 10:08 PM,7 days 06:07:00
...,...,...,...,...,...,...
2627,2627,Add org and space names to server display ID f...,Minor,24/Sep/12 4:08 PM,16/Oct/12 12:43 PM,21 days 20:35:00
2628,2628,GradleSaveParticipant throws NPE in crash reco...,Major,24/Sep/12 12:27 PM,30/Oct/12 1:43 PM,36 days 01:16:00
2629,2629,Support service plans for v2 cloud controller,Critical,21/Sep/12 4:07 PM,16/Oct/12 12:44 PM,24 days 20:37:00
2630,2630,GrailsApplication.isWarDeployed() returns fals...,Major,21/Sep/12 11:04 AM,24/Sep/12 10:30 AM,2 days 23:26:00
2631,2631,Roo project wizard: Empty new project has buil...,Minor,20/Sep/12 2:12 PM,21/Sep/12 8:41 AM,0 days 18:29:00

In [87]:
hi = df_hi[['Summary','Priority','time']]

In [88]:
hi['Summary']

0       Unable to register the JMX bean MessageHistory...
1       Update to Spring Integration 4.2.5 When Availa...
2       [Flo] Stream creation/definitions doesn't show...
3        Kafka message bus maxWait property is not set up
4             Incorrect refresh period for groovy scripts
                              ...
2627    Add org and space names to server display ID f...
2628    GradleSaveParticipant throws NPE in crash reco...
2629        Support service plans for v2 cloud controller
2630    GrailsApplication.isWarDeployed() returns fals...
2631    Roo project wizard: Empty new project has buil...
Name: Summary, Length: 2632, dtype: object

In [89]:
hi['time'] = hi['time'].dt.days

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
hi['Priority'].value_counts()

Major       1122
Minor       1071
Critical     246
Blocker      129
Trivial       64
Name: Priority, dtype: int64

In [91]:
print(246+129)
print(1071+64)
print(1122)

375
1135
1122

In [92]:
def mergepriority(val):
    if (str(val)=='Blocker') or (str(val)=='Critical'):
        return '0'
    if str(val) == 'Trivial' or str(val)=='Minor':
        return '2'
    if str(val)=='Major' :
        return '1'

In [93]:
hi['Priority'] = hi['Priority'].apply(mergepriority)

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [94]:
hi['Priority'].value_counts()

2    1135
1    1122
0     375
Name: Priority, dtype: int64

In [95]:
hi['Summary']

0       Unable to register the JMX bean MessageHistory...
1       Update to Spring Integration 4.2.5 When Availa...
2       [Flo] Stream creation/definitions doesn't show...
3        Kafka message bus maxWait property is not set up
4             Incorrect refresh period for groovy scripts
                              ...
2627    Add org and space names to server display ID f...
2628    GradleSaveParticipant throws NPE in crash reco...
2629        Support service plans for v2 cloud controller
2630    GrailsApplication.isWarDeployed() returns fals...
2631    Roo project wizard: Empty new project has buil...
Name: Summary, Length: 2632, dtype: object

In [96]:
hi

                                                Summary Priority  time
0     Unable to register the JMX bean MessageHistory...        2   303
1     Update to Spring Integration 4.2.5 When Availa...        2     3
2     [Flo] Stream creation/definitions doesn't show...        1     7
3      Kafka message bus maxWait property is not set up        2     9
4           Incorrect refresh period for groovy scripts        1     7
...                                                 ...      ...   ...
2627  Add org and space names to server display ID f...        2    21
2628  GradleSaveParticipant throws NPE in crash reco...        1    36
2629      Support service plans for v2 cloud controller        0    24
2630  GrailsApplication.isWarDeployed() returns fals...        1     2
2631  Roo project wizard: Empty new project has buil...        2     0

[2632 rows x 3 columns]

In [97]:
def div30(num):
    num = num//30
    return num

In [98]:
hi['time'] = hi['time'].apply(div30)

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [99]:
hi['time'].value_counts()

0     1697
1      220
2      116
3       77
4       47
6       37
5       27
7       22
14      15
11      15
46      15
45      14
38      13
10      13
18      13
12      12
8       12
28      11
48      11
9       11
15      11
36      11
50      10
47      10
22      10
44      10
17      10
13       9
37       9
53       9
30       8
29       8
26       7
49       7
35       6
23       6
21       6
32       6
20       6
51       6
24       6
19       5
25       5
27       5
54       5
52       5
40       5
16       5
41       5
43       4
33       4
42       3
31       3
34       2
94       2
39       1
56       1
55       1
73       1
79       1
Name: time, dtype: int64

In [100]:
def neartest10(n):
    # Smaller multiple
    a = (n // 10) * 10
     
    # Larger multiple
    b = a + 10
     
    # Return of closest of two
    return (b if n - a > b - n else a)

In [101]:
hi['time'] = hi['time'].apply(neartest10)

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [102]:
hi['time'] = hi['time'].astype(int)

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [103]:
hi['time'].value_counts()

0     2184
10     157
50      79
40      75
20      72
30      60
90       2
60       1
70       1
80       1
Name: time, dtype: int64

In [104]:
print(2184)
print(157+72+60+75)
print(79+1+1+1+2)

2184
364
84

In [105]:
hi['time'] = hi['time'].apply(neartest10)

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [106]:
hi['time'] = hi['time'].astype(int)

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [107]:
hi['time'].value_counts()

0     2184
10     157
50      79
40      75
20      72
30      60
90       2
60       1
70       1
80       1
Name: time, dtype: int64

In [108]:
print(2184)
print(157+72+60+75)
print(79+1+1+1+2)

2184
364
84

In [109]:
def replceeval(num):
    if num >=10 and num<50:
        return 1
    if num>=50:
        return 2
    if num == 0:
        return 0

In [110]:
hi['time'] = hi['time'].apply(replceeval)

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [111]:
hi['time'].value_counts()

0    2184
1     364
2      84
Name: time, dtype: int64

In [112]:
hi['time'] = hi['time'].astype(int)

C:\Users\sm185567\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [113]:
 hi['Priority']

0       2
1       2
2       1
3       2
4       1
       ..
2627    2
2628    1
2629    0
2630    1
2631    2
Name: Priority, Length: 2632, dtype: object

In [114]:
#hi['Priority'] = hi['Priority'].astype(int)

In [115]:
hi['time'].value_counts()

0    2184
1     364
2      84
Name: time, dtype: int64

In [116]:
hi['Priority'].value_counts()

2    1135
1    1122
0     375
Name: Priority, dtype: int64

In [117]:
X=hi['Summary']
y = hi[['time','Priority']]

In [118]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [119]:
X_train = X_train.reset_index(drop=True)
y_train = y_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

In [120]:
y_test['Priority'].value_counts()

2    232
1    223
0     72
Name: Priority, dtype: int64

In [121]:

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(analyzer='word', token_pattern=r'\w+')

In [122]:
X_train.index

RangeIndex(start=0, stop=2105, step=1)

In [123]:
y_train.index

RangeIndex(start=0, stop=2105, step=1)

In [124]:
y_train['time'].value_counts()

0    1745
1     291
2      69
Name: time, dtype: int64

In [125]:
X_test

0      Not able to install any plugin. "Installing So...
1            Embedded mode ignored for sub-flow sessions
2      Re-deployment of hdfs sink reuses filename of ...
3      Root exception is hidden in exceptions throw b...
4      Container reconnection to ZK fails intermittently
                             ...
522                Issue with Grails nightly update site
523    Using HDFS for custom module home doesn't work...
524    Cannot reject field-specific values through th...
525     Webflow 2.2 problem when using MVC view resolver
526    Dependency of Dashboard on e(fx)clipse nightly...
Name: Summary, Length: 527, dtype: object

In [126]:
z = tfidf_vectorizer.fit_transform(X_train)
X_test = tfidf_vectorizer.transform(X_test)

In [127]:
z.shape

(2105, 3435)

In [128]:
z

<2105x3435 sparse matrix of type '<class 'numpy.float64'>'
	with 18598 stored elements in Compressed Sparse Row format>

In [129]:
z = pd.DataFrame.sparse.from_spmatrix(z)

In [130]:
correct = pd.merge(z, y_train, left_index=True, right_index=True)

In [131]:
list_hi = correct.columns.to_list()

In [132]:
list_hi.remove('time')

In [133]:
correct[list_hi]

,0,1,2,3,4,5,6,7,8,9,...,3426,3427,3428,3429,3430,3431,3432,3433,3434,Priority
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [134]:
correct['time'].value_counts()

0    1745
1     291
2      69
Name: time, dtype: int64

In [135]:
type(correct['time'])

pandas.core.series.Series

In [137]:
correct['time']

0       0
1       0
2       0
3       0
4       0
       ..
2100    0
2101    0
2102    0
2103    0
2104    1
Name: time, Length: 2105, dtype: int32

In [138]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import BorderlineSMOTE
from imblearn.over_sampling import ADASYN
from imblearn.over_sampling import SMOTENC
#oversample = BorderlineSMOTE()
#oversample = SMOTE()
#oversample = RandomOverSampler(random_state=42)
#from imblearn.over_sampling import KMeansSMOTE
#oversample = KMeansSMOTE(random_state=42)
from imblearn.over_sampling import SVMSMOTE
oversample =   SVMSMOTE(random_state=42)
#oversample =   ADASYN(random_state=42)
#oversample =   SMOTENC(random_state=42,categorical_features=3398)
X, y = oversample.fit_resample(correct[list_hi] , correct['time'])

C:\Users\sm185567\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:516: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
C:\Users\sm185567\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

In [139]:
y.value_counts()

0    1745
1    1745
2     907
Name: time, dtype: int64

In [140]:
X['Priority'].value_counts()

1.0    2052
2.0    1850
0.0     495
Name: Priority, dtype: int64

In [141]:
samo = pd.merge(X, y, left_index=True, right_index=True)

In [142]:
samo

,0,1,2,3,4,5,6,7,8,9,...,3427,3428,3429,3430,3431,3432,3433,3434,Priority,time
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4392,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2
4393,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2
4394,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2
4395,0.002846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2
4396,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2

In [143]:
list_hi = samo.columns.to_list()
list_hi.remove('Priority')

In [144]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN
from imblearn.over_sampling import SMOTENC
#oversample = SMOTE()
#oversample = RandomOverSampler(random_state=42)
#oversample = BorderlineSMOTE()
from imblearn.over_sampling import KMeansSMOTE
#oversample = KMeansSMOTE(random_state=42)
oversample =   SVMSMOTE(random_state=42)
#oversample =   ADASYN(random_state=42)
#oversample =   SMOTENC(random_state=42,categorical_features=[1])
X, y = oversample.fit_resample(samo[list_hi] , samo['Priority'])

ValueError: Unknown label type: 'unknown'

In [ ]:
samo = pd.merge(X, y, left_index=True, right_index=True)

In [ ]:
type(samo['time'])

In [ ]:
list_hi = samo.columns.to_list()
list_hi.remove('Priority')
list_hi.remove('time')
x_data = samo[list_hi]

In [ ]:
y_data = samo[['Priority','time']]

In [ ]:
x_data

In [ ]:
X_test

In [ ]:
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB

# initialize binary relevance multi-label classifier
# with a gaussian naive bayes base classifier
classifier = BinaryRelevance(GaussianNB())

# train
classifier.fit(x_data, y_data)

# predict
predictions = classifier.predict(X_test)

In [ ]:
meta = pd.DataFrame.sparse.from_spmatrix(predictions)

In [ ]:
meta.shape,y_test.shape

In [ ]:
y_test['Priority'].value_counts()

In [ ]:
meta[0].value_counts()

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test['Priority'],meta[0])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test['time'],meta[1])

In [ ]:
y_test['Priority'].value_counts()

In [ ]:
meta[0].value_counts()

In [ ]:
from sklearn.metrics import multilabel_confusion_matrix
from sklearn.metrics import confusion_matrix
mcm = confusion_matrix(y_test['Priority'], meta[0], labels = [0,1,2])
mcm

In [ ]:
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    import itertools
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.ylabel('True label')
    plt.xlabel('Predicted label')
    plt.tight_layout()

In [ ]:
cnf_matrix = confusion_matrix(y_test['Priority'],meta[0],labels=[0,1,2])
np.set_printoptions(precision=2)

# Plot non-normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=[0,1,2],
                      title='Confusion matrix, without normalization')